.body-color{
	background-color: #FBFBF2;
}

.name-col{
	position: absolute;
	width: 269px;
	height: 47px;
	left: 546px;
	top: 50px;
	
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	font-size: 40px;
	line-height: 47px;
	/* identical to box height */
	
	text-align: right;
	
	color: #000000;
}

.profile-col{
	position: absolute;
	width: 274px;
	height: 420px;
	left: 550px;
	top: 200px;
}

.col-text-left{
	position: absolute;
width: 122px;
height: 84px;
left: 859px;
top: 400px;

font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;
}


.col-text-bottom{
	position: absolute;
width: 421px;
height: 42px;
left: 477px;
top: 658px;

font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 36px;
line-height: 42px;
text-align: right;

color: #000000
}


.col-xs-5{
	position:relative;
	top: 930px;
}


.col-md-6{
	position:relative;
	left:700px;
	bottom:850px;
	
}


.col-md-3{
	position:relative;
	top:570px;

	font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #000000
}


.col-md-5{
	position:relative;
	top:1000px;
}


.col-md-7{
	position: relative;
	top:1000px;
}



.col-md-4{
	position:relative;
	top: 600px;
}


.col-xs-12{
	position:relative;
	top:1000px;

	font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #000000
}


.ab{
	position:relative;
	left:990px;
	top:70px;
	color:black;
	text-decoration: none;

	font-family: Roboto;
	font-style: italic;
	font-weight: 30;
	font-size: 19px;
	line-height: 35px;
	text-align: center;
	
	color: #000000
}

.ht{
	position:relative;
	left:1014px;
	top:70px;
	color:black;
	text-decoration: none;

	font-family: Roboto;
	font-style: italic;
	font-weight: 30;
	font-size: 19px;
	line-height: 35px;
	text-align: center;
	
	color: #000000
}
	

.ex{
position:relative;
	left:1040px;
	top:70px;
	color:black;
	text-decoration: none;

	
	font-family: Roboto;
font-style: italic;
font-weight: 30;
font-size: 19px;
line-height: 35px;
text-align: center;

color: #000000

	
}

.te{
	position:relative;
	left:1070px;
	top:70px;
	color:black;
	text-decoration: none;
	
	font-family: Roboto;
	font-style: italic;
	font-weight: 30;
	font-size: 19px;
	line-height: 35px;
	text-align: center;
	
	color: #000000
}

.lo{
	position:relative;
	left:1100px;
	top:70px;
	color:black;
	text-decoration: none;

	font-family: Roboto;
	font-style: italic;
	font-weight: 30;
	font-size: 19px;
	line-height: 35px;
	text-align: center;
	
	color: #000000

}

.card-body{
	background: #353535;

	position: relative;
	height: 860px;
	width: 900px;
	right: 140px;

}




.aboutme{
	position: relative;
width: 251px;
height: 70px;
left: 238px;
top: 70px;

font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 60px;
line-height: 70px;
text-align: center;

color: #FFFFFF;
}


.p-about{
	position: relative;
width: 411px;
height: 364px;
left: 170px;
top: 174px;

font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #FFFFFF;
}

.dream{
	position:relative;
	width: 750px;
    height: 850px;
	right:130px;
}


.card-body2{
	background: #353535;

	position: relative;
	height: 915px;
	width: 1000px;
	right: 130px;
}




.p-experience{
	position: relative;
width: 411px;
height: 364px;
left: 170px;
top: 174px;

font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #FFFFFF;
}



.E-paragraph{
	position: relative;
width: 411px;
height: 364px;
left: 170px;
top: 5px;

font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #FFFFFF;
}




.text-project{
	position:relative;
	top: 500px;
	text-align: center;
	font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 30px;
line-height: 35px;


color: #000000

}


.tokyobook{
	position:relative;
	left: 750px;
	bottom:920px;
    height: 920px;

}













